.join_room {
    height: 100%;
    width: 100%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center
}
.room_item {
    background-color: #007bff;
    padding: 4px;
    border-radius: 5px;
    width: 200px;
    margin: -5px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.room_item:hover {
    transform:scale(1.1,1.1);
    /* -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3); */
}