.create_room {
    height: 100%;
    width: 100%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.create_room_element {
    width: 250px;
    margin: 6px;
}

.submit {
    margin-top: 10px;
    margin-bottom: 9px;
}